<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">
    <!-- 发送广播时的所带权限 -->
    <permission android:name="com.gaoxiang.permission.receive" /> <!-- 接收端所需权限 -->
    <uses-permission android:name="com.gaoxiang.permission.receive" /> <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- sd卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA" /> <!-- wifi权限 -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />




    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SearchCityActivity"></activity>
        <activity android:name=".FavCitylistActivity" />

        <meta-data
            android:name="com.google.android.actions"
            android:resource="@xml/actions" />

        <activity android:name=".CitylistActivity" />
        <activity android:name=".WeatcherActivity" />
        <activity android:name=".ScanResultActivity" />
        <activity android:name=".NewActivity" />
        <activity android:name=".ProcessActivity" />
        <activity android:name=".wifiActivity2" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main5Activity" />
        <activity android:name=".PageViewActivity" />
        <activity android:name=".FragmentActivity2" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity" /> <!-- 静态广播注册 -->
        <receiver
            android:name=".receiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.demo1.BROADCAST" />
            </intent-filter>
        </receiver> <!-- <receiver android:name=".receiver.ScreenReceiver"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.SCREEN_OFF"/> -->
        <!-- <action android:name="android.intent.action.SCREEN_ON"/> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->
        <!-- 注册service -->
        <service android:name=".service.MyService" /> <!-- 屏幕宽度为 1080px，480DPI，屏幕总 dp宽度为 1080 / (480 / 160) = 360dp -->
        <meta-data
            android:name="design_width_in_dp"
            android:value="411" />
<!--        <meta-data-->
<!--            android:name="design_height_in_dp"-->
<!--            android:value="731" />-->
    </application>

</manifest>